.container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: space-evenly;
    /* width: 500px; */
    gap: 50px;
    padding: 0 20px;
    height: 100%;
    margin-top: 20px;
	border-bottom: 1px solid gray;
}

.container > a {
    text-decoration: unset;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 400;
}

.btn {
	padding: 5px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
}

.btn-choosen {
	border-bottom: 2px solid blue;
}

