.main-container {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 500;
	font-size: 36px;
	font-weight: bold;
}

.inner-container {
	max-width: 500px;
}
